:root {
  --main-white: #f0f0f0;
  --main-mint: #d4fae5;
  --main-mint2: #81f0b3;
  --main-mint3: #3fe88b;
  --main-gray: #303841;
  --main-cyan: #7e9187;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html {
  box-sizing: border-box;
  font-size: 69%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
  color: var(--main-mint);
  background-image: linear-gradient(67deg, #3a3d40 0%, #afeeee 100%);
}

h1,
h2 {
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 3.3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-mint);
}

/* logo styling */

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.logo {
  width: 100vw;
}

/* nav styling */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-gray);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--main-cyan);
}

/* home section styling */

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 40vh;
  padding-top: 20px;
  /* background-color: #000; */
  /* background-image: linear-gradient(67deg, #3a3d40 0%, #afeeee 100%); */
}

.home-section > p {
  font-size: 5rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-mint);
}

/* dice section styling */

.dice-section {
  text-align: center;
  margin: auto;
  justify-content: center;
  padding: 4rem 2rem;
  background: var(
    --main-gray
  ); /* looks good with and without different background */
  max-width: 35%;
  min-width: 30%;
  /* width: 950px;
  height: 650px; */
  border-color: var(--main-gray);
  /* border-style: solid; */
  border-radius: 45px;
  padding-left: 150px;
  padding-right: 150px;
}

/* #dice {
  
} */

fieldset {
  border: 0;
}

input {
  margin-bottom: 30px;
}

/* maybe change */
.left {
  float: left;
  margin-left: 50px;
}

/* maybe change */
.right {
  float: right;
  margin-right: 50px;
}

.dice_output {
  max-width: 100%;
  min-width: 70%;
  display: block;
  border-radius: 10px;
  font-size: x-large;
  text-align: center;
}

.crit_output {
  padding-bottom: 0px;
  max-width: 60%;
  min-width: 50%;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  display: none;
}

.dice-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

/* Button styling */

button {
  font-size: large;
  padding: 9px;
  width: 100px; /* makes buttons the same size, font does not matter */
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

@media (max-width: 28.75em) {
  .dice-section-header {
    font-size: 4rem;
  }
}

/* discord section styling */

.discord-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 30vh;
  padding: 0 2rem;
  /* background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #afeeee 100%); */
}

.discord-section-header > h2 {
  font-size: 5rem;
}

@media (max-width: 28.75em) {
  .discord-section-header > h2 {
    font-size: 4rem;
  }
}

.discord-section-header > p {
  font-style: italic;
  font-size: 2.5rem;
}
